home {
    height: 100%;
}

.container {
    font-size: 16px;
    padding: 1%;
}

.card-left {
    padding: 20px;
    margin-right: 15px;
    box-shadow: 0px 2px 5px 1px;
    background: #FAFAFA;
}

.team-logo {
    height: 100px;
    opacity: .5;
}

.card-right {
    padding: 20px;
    box-shadow: 0px 2px 5px 1px;
    background: #FAFAFA;
}

.team-icons {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

.team-name {
    height: 100px;
    font-size: 70px;
}

.team-name-container {
    width: 100%;
}

.home-icon {
    padding-bottom: 10px; 
    color: #9e9e9e;
    outline: none;
}

.home-icon-color {
    color: black !important;
}

.green {
    color: #4caf50;
}

.left-win-container {
    text-align: right;
}

.matchup-container {
    margin-top: 20px;
    box-shadow: 0px 2px 5px 1px;
    background: #FAFAFA;
}

.table-call-out {
    text-align: center !important; 
    color: white !important;
    background: #3f51b5; 
}

.table-center {
    text-align: center !important;
}

.add-matchup-button {
    background: #8BC34A;
}

nav {
    background: #252525;
}

md-nav-bar.md-default-theme .md-button._md-nav-button.md-unselected, md-nav-bar .md-button._md-nav-button.md-unselected {
    color: white;
}

md-nav-bar.md-default-theme .md-button._md-nav-button.md-unselected, md-nav-bar .md-button._md-nav-button.md-unselected:hover {
    background: #8BC34A;
}

/* Phone Screens */
@media (max-width: 599px) {
    .team-name {
        height: 100px;
        font-size: 30px;
    }
    .card-left {
        padding: 20px;
        margin: 0;
        box-shadow: none;
        border-bottom: 2px solid;
    }
    .container {
        padding: 0;
    }
    .card-right {
        box-shadow: none;
        border-bottom: 2px solid;
    }
    .matchup-container {
        margin-top: 0;
        box-shadow: none;
        border-bottom: 2px solid;
    }
}
  
@media (min-width: 600px) and (max-width: 899px) {
    .team-name {
        height: 100px;
        font-size: 30px;
    }
}

@media (min-width: 600px) {
    .team-name {
        height: 100px;
        font-size: 30px;
    }
}

@media (min-width: 900px) and (max-width: 1199px) {
    .team-name {
        height: 100px;
        font-size: 30px;
    }
}

@media (min-width: 900px) {
    .team-name {
        height: 100px;
        font-size: 30px;
    }
}

@media (min-width: 1200px) and (max-width: 1799px) {
    .team-name {
        height: 100px;
        font-size: 70px;
    }
}

@media (min-width: 1200px) {
    .team-name {
        height: 100px;
        font-size: 70px;
    }
}

@media (min-width: 1800px) {
    .team-name {
        height: 100px;
        font-size: 70px;
    }
}