<md-nav-bar md-no-ink-bar="disableInkBar" md-selected-nav-item="vm.currentNav" nav-bar-aria-label="navigation links">
    <md-nav-item md-nav-sref="home" name="home">NCAA</md-nav-item>
    <md-nav-item md-nav-sref="nba" name="nba">NBA</md-nav-item>
    
    <span flex></span>
    <md-fab-speed-dial md-open="vm.isOpen" md-direction="{{vm.selectedDirection}}" ng-class="vm.selectedMode">
        <md-fab-trigger>
            <md-button aria-label="menu" class="md-accent md-fab md-raised md-mini">
                <md-tooltip md-direction="bottom">Tools</md-tooltip>
                <i class="fas fa-bars"></i>
            </md-button>
        </md-fab-trigger>

        <md-fab-actions>
            <md-button ng-click="vm.getTodaysSchedule()" aria-label="Twitter" class="md-fab md-raised md-mini">
                <md-tooltip md-direction="bottom">Today's Games</md-tooltip>
                <i class="fas fa-clock"></i>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>
</md-nav-bar>

<md-progress-linear class="md-accent" ng-if="vm.showProgress" md-mode="indeterminate"></md-progress-linear>

<div class="container">
    <div layout="row" layout-xs="column">
        <div flex class="card-left">
            <div layout="column" ng-cloak>
                <div layout="row" layout-align="end none">
                    <form flex="75" ng-submit="$event.preventDefault()" name="searchForm">
                        <div layout-gt-sm="row">
                            <md-autocomplete flex required
                                md-input-name="autocompleteField"
                                md-no-cache="vm.noCache"
                                md-selected-item="vm.selectedTeamLeft"
                                md-selected-item-change="vm.leftTeamChange(team)"
                                md-search-text="vm.searchTextLeft"
                                md-items="team in vm.querySearch(vm.searchTextLeft)"
                                md-item-text="team.fields.team.stringValue"
                                md-floating-label="Select a team">
                                <md-item-template>
                                    <span md-highlight-text="vm.searchTextLeft">{{team.fields.team.stringValue}}</span>
                                </md-item-template>
                            </md-autocomplete>
                        </div>
                    </form>
                    <div flex="25">
                        <img class="team-logo" style="float: right;" src="app/assets/images/{{vm.selectedTeamLeft.fields.team.stringValue}}.png" />
                    </div>
                </div>
            </div>
            <div layout="row">
                <div class="team-icons" layout="column">
                    <div id="homeLeft" class="home-icon home-icon-color" ng-click="vm.toggleHomeCourt('left');">
                        <i class="fas fa-h-square fa-3x"></i>
                    </div>
                    <div>
                        <a style="color: #f44336;" href="https://www.cbssports.com/nba/injuries" target="_blank"><i class="fas fa-medkit fa-2x"></i></a>
                    </div>
                </div>
                <div class="team-name-container">
                    <div class="team-name" layout="row" layout-xs="column" layout-align-xs="end end">
                        <span style="line-height: 1;">{{vm.prettyLeft}}</span>
                        <span ng-if="vm.selectedTeamLeft" style="font-size: 20px; margin: auto 0;">({{vm.selectedTeamLeft.fields.wins.stringValue}}-{{vm.selectedTeamLeft.fields.losses.stringValue}})</span>
                        <span style="line-height: 1;padding-left: 10%;">{{vm.leftScore}}</span>
                    </div>
                </div>
            </div>
            
            <div class="left-win-container " ng-if="vm.leftWinner">
                <p>Spread: {{vm.spread}}</p>
                <p>
                    <span>Confidence Score: {{vm.confidenceScore}}%</span>
                    <i class="fas fa-check-circle fa-2x green"></i>
                </p>
                <md-button class="add-matchup-button" ng-click="vm.addMatchup()">Add Matchup</md-button>
            </div>
        </div>
        <div flex class="card-right">
            <div layout="column" ng-cloak>
                <div layout="row">
                    <div flex="25">
                        <img class="team-logo" style="float: left;" src="app/assets/images/{{vm.selectedTeamRight.fields.team.stringValue}}.png" />
                    </div>
                    <form flex="75" ng-submit="$event.preventDefault()" name="searchForm">
                        <div layout-gt-sm="row">
                            <md-autocomplete flex required
                                md-input-name="autocompleteField"
                                md-no-cache="vm.noCache"
                                md-selected-item="vm.selectedTeamRight"
                                md-selected-item-change="vm.rightTeamChange(team)"
                                md-search-text="vm.searchTextRight"
                                md-items="team in vm.querySearch(vm.searchTextRight)"
                                md-item-text="team.fields.team.stringValue"
                                md-floating-label="Select a team">
                                <md-item-template>
                                    <span md-highlight-text="vm.searchTextRight">{{team.fields.team.stringValue}}</span>
                                </md-item-template>
                            </md-autocomplete>
                        </div>
                    </form>
                </div>
            </div>
            <div layout="row" layout-align="end none">
                <div class="team-name-container team-name" layout="row" layout-xs="column">
                    <span style="line-height: 1;padding-right: 10%">{{vm.rightScore}}</span>
                    <span ng-if="vm.selectedTeamRight" style="font-size: 20px; margin: auto 0;">({{vm.selectedTeamRight.fields.wins.stringValue}}-{{vm.selectedTeamRight.fields.losses.stringValue}})</span>
                    <span style="line-height: 1;">{{vm.prettyRight}}</span>
                </div>
                <div class="team-icons" layout="column" layout-align="none end">
                    <div id="homeRight" class=" home-icon" ng-click="vm.toggleHomeCourt('right');">
                        <i class="fas fa-h-square fa-3x"></i>
                    </div>
                    <div>
                        <a style="color: #f44336;" href="https://www.cbssports.com/nba/injuries" target="_blank"><i class="fas fa-medkit fa-2x"></i></a>
                    </div>
                </div>
            </div>
            <div class="right-win-container " ng-if="vm.rightWinner">
                <p>Spread: {{vm.spread}}</p>
                <p>
                    <span>Confidence Score: {{vm.confidenceScore}}%</span>
                    <i class="fas fa-check-circle fa-2x green"></i>
                </p>
                <md-button class="add-matchup-button" ng-click="vm.addMatchup()">Add Matchup</md-button>
            </div>
        </div>
    </div>

    <div class="matchup-container" layout="column" ng-if="vm.matchups.data.length > 0">
        <md-toolbar class="md-table-toolbar md-default">
            <div class="md-toolbar-tools">
                <span>Saved Matchups</span>
            </div>
        </md-toolbar>

        <md-table-container>
            <table md-table multiple ng-model="vm.selected">
                <thead md-head md-order="vm.query.order">
                    <tr md-row>
                        <th md-column md-order-by="leftTeam"><span>Team</span></th>
                        <th md-column md-numeric md-order-by="leftScore.value"><span>Score</span></th>
                        <th md-column class="table-center">Spread</th>
                        <th md-column md-numeric md-order-by="totalPoints.value" class="table-center">Total Points</th>
                        <th md-column md-numeric md-order-by="rightScore.value">Score</th>
                        <th md-column md-order-by="rightTeam">Team</th>
                        <th md-column md-numeric md-order-by="confidence.value"class="table-center">Confidence %</th>
                        <th md-column>Game Time</th>
                        <th md-column md-numeric>Home Court</th>
                        <th md-column class="table-center">Remove</th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row ng-repeat="team in vm.matchups.data | filter: vm.filter.search | orderBy: vm.query.order | limitTo: vm.query.limit : (vm.query.page -1) * vm.query.limit">
                        <td md-cell>{{team.leftTeam}}</td>
                        <td md-cell>{{team.leftScore.value}}</td>
                        <td md-cell class="table-call-out">{{team.spread.team}} ({{team.spread.value}})</td>
                        <td md-cell class="table-call-out">{{team.totalPoints.value}}</td>
                        <td md-cell>{{team.rightScore.value}}</td>
                        <td md-cell>{{team.rightTeam}}</td>
                        <td md-cell class="table-center">{{team.confidence.value}}%</td>
                        <td md-cell>{{team.gameTime}}</td>
                        <td md-cell>{{team.neutral}}</td>
                        <td md-cell class="table-center"><div ng-click="vm.removeMatchup($index)" style="cursor: pointer"><i class="fas fa-trash-alt fa-2x"></i></div></td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>

        <md-table-pagination md-limit="vm.query.limit" md-limit-options="[5, 10, 15]" md-page="vm.query.page" md-total="{{vm.matchups.data.length}}" md-page-select></md-table-pagination>
    </div>
</div>